{% extends 'base.html.twig' %}

{% block search %}

<div class="search">
    Rechercher :
    <div id="category_list">
        {% import 'select_category.html.twig' as macros %}
        Par catégorie :  <select id="category" class="custom-select">
            <option value = null selected>Toutes</option>
            {% for category in categories %}
                {{ macros.recursiveCategory(category, "") }}
            {% endfor %}
        </select>
    </div>
    <div class="user_list">

        Par utilisateur :   <select id="user" class="custom-select">
            <option value="null" selected>Tous</option>
            {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>

            {% endfor %}
        </select>
    </div>
</div>
    <ul>
        <li>
            <a href="{{ path('product_new') }}">Ajouter une vente</a>
        </li>
    </ul>
    {% endblock %}
{% block body %}


    {% if error %}

    <div class="error">{{ error }}</div>
    {% endif %}
    <div class="products_container">
    <h1>Nos produits</h1>


        <div class="card-deck product_list">
            {% for product in products %}

                {% if product.buyer == null %}

                    <div class="card {{ product.category|replace({' ':'_'}) }} product {{ product.user|replace({' ':'_'}) }}" style="max-width: 20rem;">
                            <a href="{{ path('product_show', { 'id': product.id }) }}">
                                <img class="card-img-top img-fluid" src="{{ asset('uploads/images/' ~ product.image) }}" alt="Card image cap">

                            </a>

                        <div class="card-body">
                            <h4 class="card-title"><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.title }}</a></h4>
                            <h5 class="category-text"> {{ product.category }}</h5>
                            <p class="card-text">{{ product.description }}</p>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Vendu par <a href="{{ path('user_show', { 'id': product.user.id }) }}">{{ product.user }}</a></small>
                            {% if app.user == product.user or is_granted('ROLE_ADMIN')%}

                                <br> <small class="text-muted"> <a href="{{ path('product_edit', { 'id': product.id }) }}">Modifier</a></small>

                            {% endif %}
                        </div>
                    </div>


                {% endif %}
            {% endfor %}
        </div>



    <script>
        $(document).on('change', 'select#category', function(){

            var clas = this.value.replace(' ', '_');
            var selectUser = $('#user').val();
            var user = selectUser.replace(' ', '_');
            if(this.value === "null")
            {
                $('.product').show();

                if(user != "null")
                {
                    $(".product:not(."+user+")").hide();
                }

            }
            else{
                $(".product:not(."+clas+")").hide();
                $('.'+clas).show();

                if(user != "null")
                {
                    $(".product:not(."+user+")").hide();
                }

            }


        });

        $(document).on('change', 'select#user', function(){

            var clas = this.value.replace(' ', '_');
            var selectCat = $('#category').val();
            var cat = selectCat.replace(' ', '_');
            if(this.value === "null")
            {
                $('.product').show();

                if(cat != "null")
                {
                    $(".product:not(."+cat+")").hide();
                }
            }
            else{
                $(".product:not(."+clas+")").hide();
                $('.'+clas).show();

                if(cat != "null")
                {
                    $(".product:not(."+cat+")").hide();
                }
            }


        });</script>
{% endblock %}
