{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ product.title }}</h1>

    <table>
        <tbody>


            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>

            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{  product.category }}</td>
            </tr>
            <tr>
                <th>Vendeur</th>
                <td><a href="{{ path('user_show', { 'id': product.user.id }) }}">{{ product.user }}</a></td>

        </tbody>
    </table>

    {% if bid %}
        {% set value = bid.bid %}
    {% else %}
        {% set value = product.startingPrice %}
    {% endif %}
    {% if buyer %}
        <div class="sold">Acheté par <a href="{{  path('user_show', { 'id': buyer.id }) }}">{{ buyer }}</a></div>
    {% else %}
    <div class="bid_container">

        <div class="current_bid">
            Offre en cours : <span id="value">{{ value }} €</span>
        </div>

        <div class="add_bid">
            <input id="new_bid" type="number" value="{{ value }}" step="{{ product.minimumBid }}" min="{{ value }}" max="{{ product.maximumBid }}" />
            <button type="button" id='bid_button' class="btn btn-primary">Enchérir</button>
        </div>
        {% if product.maximumBid %}
        <div class="buy">
            <div class="price_immediate">Prix d'achat immédiat : {{ product.maximumBid }} €</div>
            <button type="button" id="buy_button" class="btn btn-primary">Achat immédiat</button>
        </div>
        {% endif %}
        {% if product.endDate %}
            <div class="date_bid">Date de fin : {{ product.endDate|date("d/m/y H:m", "Europe/Paris") }}</div>
        {% endif %}

    </div>
{% endif %}
    <script>

        var buy = function()
        {
            $.ajax({
                url:'{{ path('buy_now')}}',
                type: "POST",
                dataType: "json",
                data: {
                    "id_product": {{ product.id }},
                    "id_user": {{ app.user.id }}
                },
                async: true,
                success: function (data)
                {
                    if(data.error)
                    {
                        alert(data.error);

                    }
                    else
                    {
                        $('.bid_container').html(' <div class="sold">Acheté par '+data.buyer+'</a></div>');

                    }
                }
            });
        };

        $("#bid_button").click( function()
            {
                $.ajax({
                    url:'{{ path('new_bid')}}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "bid": $("#new_bid").val(),
                        "id_product": {{ product.id }},
                        "id_user": {{ app.user.id }}
                    },
                    async: true,
                    success: function (data)
                    {
                        if(data.error)
                        {
                            alert(data.error);

                        }
                        else if(data.buy)
                        {
                            var r = confirm("Prix maximum dépassé : confirmez vous l'achat du produit ?");
                            if (r === true) {
                                buy();
                            }
                        }
                        else
                        {

                            $("#value").html(data.bid);
                        }
                    }
                });
            }
        );


        $("#buy_button").click(buy);
    </script>


    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>

        {% if app.user == product.user or is_granted('ROLE_ADMIN')%}
        <li>
            <a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>


    <div id="nbVotes">Nombre de notes : {{  nbVotes }}</div>
    <div id="stars"></div>
    <div id="moyNotes">Moyenne des notes : {{  moyenne }}</div>
    <diV id="error"></diV>
    {% if app.user %}



    {%  if userNote %}
    <script>
        $(function () {

            $("#stars").rateYo({
                rating: {{ userNote.note }},
                readOnly: true
            });
        });</script>
        {%  elseif app.user.id == product.user.id %}

          <script>
              $(function () {

                  $("#stars").rateYo({
                      rating: {{ moyenne }},
                      readOnly: true
                  });
              });
          </script>
        {% endif %}
    <script>

        $(function () {

            $("#stars").rateYo({halfStar: true}).on("rateyo.set", function (e, data) {
                $.ajax({
                    url:'{{ (path('product_note', { 'id': product.id })) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "note": data.rating,
                        "id_product": {{ product.id }},
                        "id_user": {{ app.user.id }}
                    },
                    async: true,
                    success: function (data)
                    {
                        if(data.error)
                        {
                            alert(data.error);

                        }
                        else
                        {
                            $("#stars").rateYo("option", "readOnly", true);
                            $('div#yourNote').html("Votre note : " + data.note);
                            $('div#nbVotes').html("Nombre de notes : " + data.nbVotes);
                            $('div#moyNotes').html("Moyenne des notes : " + data.moy);
                        }


                    }
                });
                return false;

            });

        });


    </script>
    {% endif %}

{% endblock %}
